@font-face {
    font-family: arcadeclassicregular;
    src: url('fonts/arcadeclassic-webfont.ttf'),
         url('fonts/arcadeclassic-webfont.woff'),
         url('fonts/arcadeclassic-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
  position: relative; /* maybe make this absolute to stop other containers moving */
  margin-bottom: 2vw;
  font-family: arcadeclassicregular;
  color: #1faffe;
  text-align: center;
  font-size: 8vw; /* font is 8% of view window, i.e. resizes with window */
}

body {
  background-color: #75fbfd;
}

.worldmap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.worldregion {
  position: absolute;
  /*border: 2px solid black;*/ /* enable to see "hitboxes" of continents */
  filter: grayscale(100%);
}


#namerica {
  background: url("imgs/namericaF2.png") no-repeat center / contain;
  width: 32vw;
  height: 20vw;
}
#samerica {
  background: url("imgs/samericaF2.png") no-repeat center / contain;
  width: 15vw;
  height: 20vw;
  margin-top: 18.35vw;
  margin-left: 11.75vw;
}
#europe {
  background: url("imgs/europeF2.png") no-repeat center / contain;
  width: 15.05vw;
  height: 11vw;
  margin-top: 1vw;
  margin-left: 30vw;
}
#asia {
  background: url("imgs/asiaF2.png") no-repeat center / contain;
  width: 29vw;
  height: 23.5vw;
  margin-top: 0.7vw;
  margin-left: 38vw;
}
#oceania {
  background: url("imgs/oceaniaF2.png") no-repeat center / contain;
  width: 14.25vw;
  height: 12vw;
  margin-top: 22vw;
  margin-left: 58.1vw;
}
#africa {
  background: url("imgs/africaF2.png")  no-repeat center / contain;
  width: 17vw;
  height: 20vw;
  margin-top: 11.5vw;
  margin-left: 27.6vw;
}
#mideast {
  width: 5.5vw;
  height: 7vw;
  margin-top: 10vw;
  margin-left: 40vw;
}


/* Positioning elements/stacking order is HORRIBLE */
/* "Choosing how to position an element in CSS is sometimes really a
   choice about what side effects are most acceptable." -Josh Ogle */
/* I could have used AWS, but I prefer complete freedom, full control
   over security, and learning how things are built. */

/*      PROBLEM -> SOLUTION (?)
    -Can't hover over hidden images -> set grayscale 100% of every continent, 0 on hover

    -"on hover" jquery event triggers for container dimensions (because width:100%),
      BUT need width:100 for resizing purposes...

*/
